@using Microsoft.AspNetCore.Components.Web
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.Authorization
<link rel="stylesheet" href="css/auth.css" />

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="typeof(Flowly.Web.MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="typeof(Flowly.Web.MainLayout)">
                <p class="p-4">404 — сторінку не знайдено.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>